@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 ,0 ,0;
  background-color: #f5f7ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  
  height: 600px;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10%;
  
  display: flex;
  flex-grow: 1;
}

.calculator {
  width: auto;
  display: flex;
}
